/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ifm-color-primary: #1B55D5;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1B55D5;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

body{
  @apply bg-gray-50;
}
[data-theme='dark'] body {
  @apply bg-zinc-900;
}

a{
  cursor: pointer;
}
a:hover{
  text-decoration:none;
  @apply text-green-700 border-green-700;
}
[data-theme='dark'] a:hover{
  text-decoration:none;
  @apply text-green-300 border-green-300;
}
p a{
  @apply font-semibold border-b-2;
  color: var(--ifm-color-primary);
  border-bottom-color: var(--ifm-color-primary);
}
p img{
  @apply inline 
}
.navbar{
  @apply backdrop-blur-3xl bg-white/90 shadow-sm
}
[data-theme='dark'] .navbar{
  @apply backdrop-blur-3xl bg-zinc-900/90 shadow-sm
}
h1, h2, h3, h4, h5{
  @apply font-bold
}
h1{
  @apply text-5xl
}
h2{
  @apply text-3xl
}
h3{
  @apply text-xl
}
ul{
  @apply list-disc pl-4
}
.menu__list-item-collapsible a{
  @apply text-sm text-gray-400 mt-2;
}
.menu__list-item-collapsible:hover,
.menu__list-item-collapsible a:hover{
  @apply text-gray-400;
  background:none;
}
.cols-2{
  @apply grid grid-cols-2 gap-4 mb-4;
}
.flex-x{
  @apply flex;
}
svg[class*="icon"] {
  display: inline;
}
a[class*="link"] span {
  display: flex;
  align-items: center;
}
.plugin-card-grid{
  @apply flex items-center;
}
.plugin-card-grid img{
  height:48px;
}
.plugin-card{
  @apply w-full p-4 bg-white rounded-xl shadow-md
}
[data-theme='dark'] .plugin-card{
  @apply bg-zinc-800;
}
.plugin-card:hover{
  @apply shadow-lg
}
.plugin-card-title{
  @apply text-xl font-semibold mb-2;
}
